<body>
    <div class="movie-banner">
        <a class="movie-banner" href="https://youtu.be/69ffwl-8pCU?si=LeEWs2uDJBCBFFO6">
        <div class="banner-image"
            style="background-image: url('assets/images/banner/F1-Banner.png');">
            <a routerLink="/movie-detail/1">
                <img class="movie-poster" src="https://m.media-amazon.com/images/M/MV5BNGI0MDI4NjEtOWU3ZS00ODQyLWFhYTgtNGYxM2ZkM2Q2YjE3XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
                    alt="F1">
            </a>
            <div class="movie-announcement">F1 | Coming in June 27</div>
        </div>
        </a>
    </div>
</body>