<section>
    <div class="mb-5">
        <div class="movie-header">
            <h2 style="font-weight: bold; margin-left: 50px;">Suggestions</h2>
        </div>
        <div class="movie-container">
            <app-movies-card *ngFor="
                  let movies of MoviesService.bannerMovies;
                  let i = index;
                  let last = last
                " [movies]="movies"></app-movies-card>
        </div>
    </div>
    <div class="mb-5">
        <div class="movie-header">
            <h2 style="font-weight: bold; margin-left: 50px;">Suggestions</h2>
        </div>
        <div class="movie-container">
            <app-movies-card *ngFor="
                  let movies of MoviesService.bannerMovies;
                  let i = index;
                  let last = last
                " [movies]="movies"></app-movies-card>
        </div>
    </div>
    <div class="mb-5">
        <div class="movie-header">
            <h2 style="font-weight: bold; margin-left: 50px;">Suggestions</h2>
        </div>
        <div class="movie-container">
            <app-movies-card *ngFor="
                  let movies of MoviesService.bannerMovies;
                  let i = index;
                  let last = last
                " [movies]="movies"></app-movies-card>
        </div>
    </div>
    <div class="mb-5">
        <div class="movie-header">
            <h2 style="font-weight: bold; margin-left: 50px;">Suggestions</h2>
        </div>
        <div class="movie-container">
            <app-movies-card *ngFor="
                  let movies of MoviesService.bannerMovies;
                  let i = index;
                  let last = last
                " [movies]="movies"></app-movies-card>
        </div>
    </div>
    <div class="mb-5">
        <div class="movie-header">
            <h2 style="font-weight: bold; margin-left: 50px;">Suggestions</h2>
        </div>
        <div class="movie-container">
            <app-movies-card *ngFor="
                  let movies of MoviesService.bannerMovies;
                  let i = index;
                  let last = last
                " [movies]="movies"></app-movies-card>
        </div>
    </div>
</section>